h1{
    color: olivedrab;
    font-size: 36px;
    font-family: Impact, fantasy;
    margin: 15px;
}
#timer{
    color: olivedrab;
    font-size: 36px;
    font-family: Impact, fantasy;
    margin: 15px;
}